* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #e6e6fa;
    color: #194270;
}

header {
    width: 100%; /* largura */
    height: 15vh;  /* Altura */
    text-shadow: 0 1px black;
    font-size: 1.4rem;

     /* Comportamento da caixrema*/
     display: flex;
     justify-content: center;  /* Alinhamento Horizontal */
     align-items: center;  /* Alinhamento Vertical */
}

nav {
    background-color: rgb(4, 178, 247);
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 1px solid #194270d6;
    border-bottom: 2px solid #194270d6;
    margin-top: 16px;

    display: flex; 
    justify-content: space-evenly;
} 

nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px #191970;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #e6e6fa;
    transition: .5s;
}

nav a:hover {
    text-shadow: -4px -3px black;
}

main {
    width: 100%;
}
article h2 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

article p {
    padding-left: 16px;
}

ul {
    padding-top: 4px;
    padding-left: 37%;
    padding-bottom: 32px;
    font-style: italic;
    list-style: disc;
} 
ul li.feature {
    font-weight: 600;
}

footer {
    border-top: 2px solid #ccc;
    margin-top: 32px;
    text-align: right;
    padding-top: 8px;
    font-style: italic;
}